[mysqld]
# === default mysqld
# ===================================
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log_error       = /var/log/mysql/error.log
symbolic-links  = 0
skip-host-cache
skip-name-resolve
# ===================================
# === default mysqld end

# === MySQL Service Binding Address
# ===================================
bind-address    = 0.0.0.0
# ===================================
# === MySQL Service Binding Address end

# === Security (Recomended), Disabling The LOAD DATA statement loads a data file into a table
local-infile = 0
# === Security (Recomended), Disabling The LOAD DATA statement loads a data file into a table end

# === MySQL Recommended Fine Tunings
# ===================================
## Assign at least 70% of Total OS Memory
sql_mode                        = ""
default_storage_engine          = InnoDB
innodb_buffer_pool_size         = 1450M # 70% of mem limit 2G - must be upgraded when you upgrade the Container Memory Limit
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 512M
innodb_log_buffer_size          = 16M
innodb_read_io_threads          = 4
innodb_write_io_threads         = 4
innodb_buffer_pool_instances    = 4
innodb_log_files_in_group       = 2
innodb_thread_concurrency       = 32
innodb_autoinc_lock_mode        = 2
innodb_stats_on_metadata        = 0
innodb_lock_wait_timeout        = 10000
log_bin_trust_function_creators = 1
group_concat_max_len            = 6294967295
# ===================================
# === MySQL Recommended Fine Tunings end

## === Increasing this limit is recommended if convenient
# ===================================
open_files_limit                = 10000
max_connections                 = 1000
tmp_table_size                  = 64M
max_heap_table_size             = 64M
tmpdir                          = /tmp
memlock                         = 0
sysdate_is_now                  = 1
query_cache_type                = 0
query_cache_size                = 0
table_open_cache                = 1024
lower_case_table_names          = 0
explicit_defaults_for_timestamp = 1
# ===================================
## === Increasing this limit is recommended if convenient end

# === Slow Query logging
# ===================================
slow_query_log_file                     = /var/log/mysql/mysql-slow.log
long_query_time                         = 2
slow_query_log                          = ON
log_slow_admin_statements               = ON
log_queries_not_using_indexes           = OFF
log_throttle_queries_not_using_indexes  = 1
# ===================================
# === Slow Query logging end

# === Replication Settings
# ===================================
server_id                   = 1
log_bin                     = /var/log/mysql/mysql-bin.log
log_bin_index               = /var/log/mysql/mysql-bin.log.index
relay_log                   = /var/log/mysql/mysql-relay-bin
relay_log_index             = /var/log/mysql/mysql-relay-bin.index
expire_logs_days            = 10
max_binlog_size             = 100M
log_slave_updates           = 1
auto-increment-increment    = 2
auto-increment-offset       = 1
# ===================================
# === Replication Settings end

[mysql]

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M